@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lora", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  padding: 0 40px;
}

html {
  width: 100%;
}

:root {
  --text-black: #404040;
}

.active {
  border-bottom: 1px solid var(--text-black);
}

@media (max-width: 750px) {
  body {
    padding: 0 25px;
  }
}
